# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Testing / Cache
.pytest_cache/
.mypy_cache/